# Binaries and executable files
feature_skeleton
opi-nvidia-adapter
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.out
*.test
*.prof

# IDE and Editor configs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
